* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
}

/* Estrutura geral da dashboard */
.dashboard {
  display: flex;
  min-height: 100vh;
}

.a {
  color: #fff;
}

/* Sidebar com estilo escuro */
.sidebar {
  width: 300px;
  background-color: #1f1f2e;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.sidebar nav ul li {
  margin: 12px 0;
}

.sidebar nav ul li a {
  color: #ccc;
  text-decoration: none;
  display: block;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.sidebar nav ul li a:hover {
  background-color: #333;
  padding-left: 16px;
  color: #fff;
}

.usuario-sidebar {
  text-align: center;
  margin: 10px 0 20px 0;
}

.foto-perfil {
  width:180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000000aa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nome-usuario {
  color: white;
  margin-top: 8px;
  font-size: 14px;
}

.logout {
  margin-top: auto;
  text-align: center;
}

.logout a {
  color: #ff4b4b;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease;
}

.logout a:hover {
  color: #fff;
  background-color: #c00;
}

/* Conteúdo principal */
.main-content {
  flex: 1;
  padding: 40px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  overflow-y: auto;
}

.main-content h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.main-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555;
}

/* Boxes de informações */
.info-boxes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.info-box {
  background: #fafafa;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 2px 6px rgba(31, 31, 46, 0.1);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.info-box:hover {
  cursor: pointer;
  border-color: #1e90ff;
  background-color: #e6f0ff;
}

.info-box h3 {
  margin-bottom: 10px;
  color: #1f1f2e;
}

.info-box p {
  font-size: 16px;
  color: #666;
}

/* Links padrão */
a {
  color: #1e90ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #006fdd;
}
